.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 50px 0;
    background-color: #ffffff;
    margin: 0 auto;
    border-bottom: 1px solid rgb(179, 176, 176);

    
}

.container h1{
        width:100px;
        color: #173b6c;
        padding-bottom: 10px;
        margin-left: 20px;
        
    }
.list{
    width: 50px;
    height: 3px;
    background-color: #149ddd;
    margin-left: 20px;
}
.box_projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    
}