.navbar{
    padding: 20px 40px;
    
    margin-bottom: 11px;
    
     
}

.navbar li{
    list-style: none;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #a8a9b4;
    
    
}
.navbar li:hover{
    color: #fff;
    cursor: pointer;
    
}

.social_icons{
    font-size: 25px;
    font-weight: lighter;
    margin-right: 10px;
    color: #a8a9b4;
    
    
}
.navbar li:hover > .social_icons{
    
    color: #149ddd;
}
.navbar .active {
    color: #ffffff;
}
.active > .social_icons{
    color: #149ddd;
}