.social_liks{
    color: #fff;
    background-color: #212431;
    width: 35px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;

}